<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_lijidl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,2},{418,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,128}</string>
			</dict>
			<key>btn_qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,666},{418,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,128}</string>
			</dict>
			<key>btn_shouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,798},{418,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,128}</string>
			</dict>
			<key>btn_tv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,424},{418,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,128}</string>
			</dict>
			<key>btn_weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,61},{418,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,128}</string>
			</dict>
			<key>btn_youkedl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,193},{418,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,128}</string>
			</dict>
			<key>down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1237,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1237,55}</string>
			</dict>
			<key>img_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,666},{49,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,33}</string>
			</dict>
			<key>img_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,908},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>imgProgress.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,2},{660,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{660,17}</string>
			</dict>
			<key>loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,908},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>txt_dl_bty.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,361},{184,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,58}</string>
			</dict>
			<key>txt_dl_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,846},{159,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,58}</string>
			</dict>
			<key>txt_dl_xieyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,984},{1259,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1259,23}</string>
			</dict>
			<key>txt_hqyzm.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,308},{246,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,49}</string>
			</dict>
			<key>txt_shouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,61},{243,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,53}</string>
			</dict>
			<key>up.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,930},{1226,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1226,24}</string>
			</dict>
			<key>txt_t_qxsq.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,61},{246,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,53}</string>
			</dict>
			<key>txt_t_youxigx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,325},{248,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,54}</string>
			</dict>
			<key>txt_xianzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,325},{294,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,45}</string>
			</dict>
			<key>txt_xieyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,61},{244,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameLoginPlist.png</string>
			<key>realTextureFileName</key>
			<string>gameLoginPlist.png</string>
			<key>size</key>
			<string>{1399,1009}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1399</integer>
			<key>height</key>
			<integer>1009</integer>
		</dict>
	</dict>
</plist>