<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_d_choujiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,80}</string>
                <key>spriteSourceSize</key>
                <string>{141,80}</string>
                <key>textureRect</key>
                <string>{{300,153},{141,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_d_duihuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,82}</string>
                <key>spriteSourceSize</key>
                <string>{210,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_d_huodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,79}</string>
                <key>spriteSourceSize</key>
                <string>{151,79}</string>
                <key>textureRect</key>
                <string>{{147,158},{151,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_d_paihang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,83}</string>
                <key>textureRect</key>
                <string>{{1,85},{150,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_d_renwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,80}</string>
                <key>spriteSourceSize</key>
                <string>{138,80}</string>
                <key>textureRect</key>
                <string>{{135,239},{138,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_d_rw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,80}</string>
                <key>spriteSourceSize</key>
                <string>{142,80}</string>
                <key>textureRect</key>
                <string>{{296,1},{142,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_d_yaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,81}</string>
                <key>spriteSourceSize</key>
                <string>{155,81}</string>
                <key>textureRect</key>
                <string>{{213,1},{155,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_u_dui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{147,85},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_u_fenx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{382,241},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_u_kefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{382,83},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_u_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,77}</string>
                <key>textureRect</key>
                <string>{{382,162},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_u_tuichu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{1,237},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_u_youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,68}</string>
                <key>textureRect</key>
                <string>{{296,83},{73,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dt_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{147,129},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dt_qipao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,47}</string>
                <key>spriteSourceSize</key>
                <string>{178,47}</string>
                <key>textureRect</key>
                <string>{{86,85},{178,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,92}</string>
                <key>spriteSourceSize</key>
                <string>{10,92}</string>
                <key>textureRect</key>
                <string>{{135,85},{10,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{458,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e29e3a5c47319431d16e79ea0947e7:91b659b5185f9e23dd1fb51dea15bfaf:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
